---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <title>Kostin.Dev</title>
    <style>
      html body {
        margin: 0px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    </style>
	</head>
    <body>
    <div>
      <p>KOSTIN.DEV</p>
      <p>WIP</p>
    </div>
  </body>
</html>
