---
import CenteredLayout from '../layouts/CenteredLayout.astro';
---
<CenteredLayout title="kostin.life", description="Assorted ramblings">
  <div class="w-fit text-center">
    <p class="pb-4">KOSTIN.LIFE</p>
    <a class="link" href="blog/on-developer-experience">On Developer Experience</a><br>
</CenteredLayout>
